In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("./wages.csv")
df

,year,age,race,education,jobclass,health_ins,wage
0,2006,18,1. White,1. < HS Grad,1. Industrial,2. No,75.043154
1,2004,24,1. White,4. College Grad,2. Information,2. No,70.476020
2,2003,45,1. White,3. Some College,1. Industrial,1. Yes,130.982177
3,2003,43,3. Asian,4. College Grad,2. Information,1. Yes,154.685293
4,2005,50,1. White,2. HS Grad,2. Information,1. Yes,75.043154
...,...,...,...,...,...,...,...
2995,2008,44,1. White,3. Some College,1. Industrial,1. Yes,154.685293
2996,2007,30,1. White,2. HS Grad,1. Industrial,2. No,99.689464
2997,2005,27,2. Black,1. < HS Grad,1. Industrial,2. No,66.229408
2998,2005,27,1. White,3. Some College,1. Industrial,1. Yes,87.981033
2999,2009,55,1. White,2. HS Grad,1. Industrial,1. Yes,90.481913

In [ ]:
s = df['race']
df['race'] = s.str.lstrip('1234.')
d = df['education']
df['education'] = d.str.lstrip('1234.<')
f = df['jobclass']
df['jobclass'] = f.str.lstrip('1234.')
g = df['health_ins']
df['health_ins'] = g.str.lstrip('1234.')
df

      year  age    race      education      jobclass health_ins        wage
0     2006   18   White      < HS Grad    Industrial         No   75.043154
1     2004   24   White   College Grad   Information         No   70.476020
2     2003   45   White   Some College    Industrial        Yes  130.982177
3     2003   43   Asian   College Grad   Information        Yes  154.685293
4     2005   50   White        HS Grad   Information        Yes   75.043154
...    ...  ...     ...            ...           ...        ...         ...
2995  2008   44   White   Some College    Industrial        Yes  154.685293
2996  2007   30   White        HS Grad    Industrial         No   99.689464
2997  2005   27   Black      < HS Grad    Industrial         No   66.229408
2998  2005   27   White   Some College    Industrial        Yes   87.981033
2999  2009   55   White        HS Grad    Industrial        Yes   90.481913

[3000 rows x 7 columns]

In [ ]:
from sqlalchemy import String
from pandas.core.reshape.merge import string
from numpy.lib.function_base import append
from pandas.core import apply



def wage_class(value):
    if value >= 315.15:
        return "one percent"
    elif value >= 120.83:
        return "upper class"
    elif value >= 31.834:
        return "middle class"
    else:
        return "low income"

df['wage_classes'] = df['wage'].map(wage_class)
df

,year,age,race,education,jobclass,health_ins,wage,wage_classes
0,2006,18,White,< HS Grad,Industrial,No,75.043154,middle class
1,2004,24,White,College Grad,Information,No,70.476020,middle class
2,2003,45,White,Some College,Industrial,Yes,130.982177,upper class
3,2003,43,Asian,College Grad,Information,Yes,154.685293,upper class
4,2005,50,White,HS Grad,Information,Yes,75.043154,middle class
...,...,...,...,...,...,...,...,...
2995,2008,44,White,Some College,Industrial,Yes,154.685293,upper class
2996,2007,30,White,HS Grad,Industrial,No,99.689464,middle class
2997,2005,27,Black,< HS Grad,Industrial,No,66.229408,middle class
2998,2005,27,White,Some College,Industrial,Yes,87.981033,middle class
2999,2009,55,White,HS Grad,Industrial,Yes,90.481913,middle class

In [ ]:
health_dummies = pd.get_dummies(df['health_ins'],prefix='health_ins')
df = df.join(health_dummies)

In [ ]:
df

,year,age,race,education,jobclass,health_ins,wage,wage_classes,health_ins_ No,health_ins_ Yes
0,2006,18,White,< HS Grad,Industrial,No,75.043154,middle class,1,0
1,2004,24,White,College Grad,Information,No,70.476020,middle class,1,0
2,2003,45,White,Some College,Industrial,Yes,130.982177,upper class,0,1
3,2003,43,Asian,College Grad,Information,Yes,154.685293,upper class,0,1
4,2005,50,White,HS Grad,Information,Yes,75.043154,middle class,0,1
...,...,...,...,...,...,...,...,...,...,...
2995,2008,44,White,Some College,Industrial,Yes,154.685293,upper class,0,1
2996,2007,30,White,HS Grad,Industrial,No,99.689464,middle class,1,0
2997,2005,27,Black,< HS Grad,Industrial,No,66.229408,middle class,1,0
2998,2005,27,White,Some College,Industrial,Yes,87.981033,middle class,0,1
2999,2009,55,White,HS Grad,Industrial,Yes,90.481913,middle class,0,1

Q1. What are the columns in the dataset?
=>

  year

  age

  race

  education

  jobclass

  health_ins

  wage

  wage_classes

  health_ins_No

  health_ins_Yes


Q2. For each column in the dataset, please determine what type of data, qualitative or quantitative, is in each column. If a column is qualitative, determine if it is “nominal” or “ordinal”.
=>

  year = quantiative

  age = quantitative

  race = qualitative, nominal

  education = qualitative, ordinal

  jobclass = qualitative, nominal. Though it could be viewed in some sectors as ordinal

  health_ins = qualitative, nominal.

  wage = quantiative

  wage_classes = qualitative, ordinal

  health_ins_No = qualitative, nominal

  health_ins_Yes = qualitative, nominal

Q3. We want to look closer into the main column “wage”. We want to calculate some of the basic statistics such as “mean”, “variance”, “5% percentile”, “95% percentile”, and “median” of this column.

=> Mean = 111.70360820174345

=> Variance = 1741.2756817981417

=> 5% Percentile = 61.1875264339915

=> 95% Percentile = 176.989650489877

=> Median = 104.921506533664

Q4. Based on those statistics,  what conclusions can you draw about the “wage” column?

=> There is a great deal of variance among wages, and a massive disparity
between the 5th percentile wage and the 95th percentile wage. The 95th is more than twice the 5th percentile wage.

Q5. Which race has the highest average wage across all the entries in the dataset?

=> Asians with a 120.288288 average wage

Q6. Which education background (“education” column) has the lowest wage across all the entries in the dataset?

=> high school grad with 84.104415 	average wage

if you want the actual minimum individual from the education backgrounds, it is

Some College |	2003 |	18 |	Asian |	Industrial |	No |	20.085537 |	low income

whose wage is only 20.08 etc.